@import '../../styles/settings';

.login {
     position: fixed;
  inset: 0;
  z-index: 1000;
  display: flex;
  background-color: $beige-100;
}

/* ================= LEFT ================= */

.login__visual {
  flex: 2;
  background-color: $beige-100;
  background-size: cover;
  background-position: center;
  color: $white;
  padding: 28px;
  margin: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
}

.login__logo {
  width: 120px;
}

.login__visual-content {
  max-width: 60%;
  margin: 0 auto
}

.login__headline {
  @include text-preset-1;
  margin-bottom: 16px;
}

.login__description {
  @include text-preset-4;
  opacity: 0.85;
}

/* ================= RIGHT ================= */

.login__content {
  flex: 3;
  background-color: $beige-100;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 48px;
  position: relative;
}

.login__content-logo {
  position: absolute;
  top: 32px;
  left: 32px;
}

.login__card {
  background: white;
  padding: 40px;
  border-radius: 12px;
  width: 100%;
  max-width: 60%;
   animation: cardDrop 1.6s cubic-bezier(0.22, 1.2, 0.36, 1) forwards;
}

.login__title {
  @include text-preset-2;
  margin-bottom: 32px;
}

/* ================= FORM ================= */

.login__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.login__field {
  display: flex;
  flex-direction: column;
  gap: 6px;

  label {
    @include text-preset-5-bold;
    color: $grey-600;
  }
}

/* ===== INPUTS ===== */

.login__input-wrap {
  position: relative;
}

.login__input {
  width: 100%;
  padding: 12px 44px 12px 14px; 
  border-radius: 8px;
  border: 1px solid $grey-300;
  @include text-preset-4;
  &--error {
    border-color: $red;
  }

  &:focus {
    outline: none;
    border-color: $grey-900;
  }
}

.login__error {
      @include text-preset-5;
      color: $red;
}

/* ===== ICON IN INPUT ===== */

.login__input-icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);

  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 18px;
    height: 18px;
    display: block;
    opacity: 0.6;
  }

  &:hover img {
    opacity: 1;
  }
}

/* ================= BUTTON ================= */

.login__button {
  margin-top: 12px;
  padding: 14px;
  border-radius: 10px;
  border: none;
  background-color: $grey-900;
  color: white;
  cursor: pointer;
  @include text-preset-3;

  &:hover {
    opacity: 0.95;
  }
}

/* ================= FOOTER ================= */

.login__footer {
  margin-top: 24px;
  text-align: center;
  @include text-preset-4;
  color: $grey-600;
}
.login__switch {
     @include text-preset-4-bold;
    color: $grey-900;
    cursor: pointer;
    background-color: transparent;
    border: none;
    margin-left: 4px;
}

@keyframes cardDrop {
  0% {
    transform: translateY(-1160px);
    opacity: 0;
  }

  60% {
    transform: translateY(10px);
    opacity: 1;
  }

  80% {
    transform: translateY(-4px);
  }

  100% {
    transform: translateY(0);
  }
}
