/* map to SCSS vars */
.color-dot--green { background: $green; }
.color-dot--yellow { background: $yellow; }
.color-dot--cyan { background: $cyan; }
.color-dot--navy { background: $navy; }

.color-dot--red { background: $red; }
.color-dot--purple { background: $purple; }
.color-dot--turquoise { background: $turquoise; }
.color-dot--brown { background: $brown; }

.color-dot--magenta { background: $magenta; }
.color-dot--blue { background: $blue; }
.color-dot--army-green { background: $army-green; }
.color-dot--gold { background: $gold; }
.color-dot--orange { background: $orange; }
