/* =========================
   Beige
   ========================= */
$beige-500: rgb(152, 144, 139);
$beige-100: rgb(242, 240, 236);

/* =========================
   Grey
   ========================= */
$grey-900: rgb(32, 31, 36);
$grey-600: rgb(104, 104, 104);
$grey-300: rgb(179, 179, 179);
$grey-100: rgb(242, 242, 242);

/* =========================
   Secondary Colors
   ========================= */
$green: rgb(38, 124, 120);
$yellow: rgb(242, 208, 172);
$cyan: rgb(130, 201, 216);

$navy: rgb(98, 98, 112);
$red: rgb(204, 79, 58);
$purple: rgb(136, 108, 178);

/* =========================
   Other Colors
   ========================= */
$purple-light: rgb(176, 128, 160);
$turquoise: rgb(98, 124, 124);
$brown: rgb(147, 104, 78);

$magenta: rgb(147, 78, 111);
$blue: rgb(68, 130, 178);
$navy-grey: rgb(167, 180, 172);

$army-green: rgb(122, 145, 97);
$gold: rgb(202, 179, 97);
$orange: rgb(190, 108, 78);

/* =========================
   White
   ========================= */
$white: rgb(255, 255, 255);


$font-family: "Public Sans", system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;

@mixin text-preset-1 {
  font-family: $font-family;
  font-size: 32px;
  line-height: 1.2; // 120%
  letter-spacing: 0;
  font-weight: 700;
}

@mixin text-preset-2 {
  font-family: $font-family;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0;
  font-weight: 700;
}

@mixin text-preset-3 {
  font-family: $font-family;
  font-size: 16px;
  line-height: 1.5; // 150%
  letter-spacing: 0;
  font-weight: 700;
}

@mixin text-preset-4 {
  font-family: $font-family;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0;
  font-weight: 400;
}

@mixin text-preset-4-bold {
  @include text-preset-4;
  font-weight: 700;
}

@mixin text-preset-5 {
  font-family: $font-family;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0;
  font-weight: 400;
}

@mixin text-preset-5-bold {
  @include text-preset-5;
  font-weight: 700;
}


:root {
  --green: #{$green};
  --yellow: #{$yellow};
  --cyan: #{$cyan};
  --navy: #{$navy};

  --red: #{$red};
  --purple: #{$purple};
  --turquoise: #{$turquoise};
  --brown: #{$brown};

  --magenta: #{$magenta};
  --blue: #{$blue};
  --army-green: #{$army-green};
  --gold: #{$gold};
  --orange: #{$orange};
}
