@import '../../styles/settings';

.sidebar {
  width: 300px;
  transition: width 300ms ease;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px 0;
  background-color: $grey-900;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  color: $grey-300;
  &--collapse {
    width: 90px;
  }
}

.sidebar__header {
  // flex: 1;
  padding-left: 20px;
  height: 60px;
}
.sidebar--collapse .sidebar__header {
    display: flex;
    justify-content: center;
    padding-left: 0;
    &-img {
        width: 30px;
        height: 30px;
    }
}


.sidebar__nav {
  flex: 17;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sidebar__item {
  display: flex;
  position: relative;
  gap: 20px;
  align-items: center;
  cursor: pointer;
  width: 90%;
  padding: 10px 0 10px 20px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-left: 4px solid transparent;
  transition: background-color 300ms ease,
  color 300ms ease,
  border-left-color 300ms ease;
  text-decoration: none;  
  color: inherit;   
  &:hover,
  &--active {
    background-color: $white;
    color: $grey-900;
    border-left: 4px solid $green;
  }
}

.sidebar__item-text,
.sidebar__footer-text {
  white-space: nowrap;
}

.sidebar--collapse .sidebar__item-text,
.sidebar--collapse .sidebar__footer-text {
  display: none;
}

.sidebar--collapse .sidebar__item

  {
     justify-content: center;
     padding-left: 0;
};

.sidebar--collapse .sidebar__footer {
    justify-content: center;
    padding-left: 0;
}

.sidebar__item-icon {
  position: relative;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}

.sidebar__item-img {
  position: absolute;
  inset: 0;
  transition: opacity 250ms ease;
}


.sidebar__item-img--active {
  opacity: 0;
}


.sidebar__item:hover .sidebar__item-img--default,
.sidebar__item--active .sidebar__item-img--default {
  opacity: 0;
}

.sidebar__item:hover .sidebar__item-img--active,
.sidebar__item--active .sidebar__item-img--active {
  opacity: 1;
}


.sidebar__footer {
  flex: 1;
  display: flex;
  gap: 20px;
  align-items: center;
  cursor: pointer;
  padding-left: 20px;
}

.sidebar__footer-icon {
  position: relative;
  width: 20px;
  height: 20px;
}

.sidebar__footer-img {
  position: absolute;
  inset: 0;
  transition: opacity 300ms ease;
   transition: transform 300ms ease;
}

.sidebar--collapse .sidebar__footer-icon {
  transform: rotate(180deg);
}

.sidebar__footer-img--hover {
  opacity: 0;
}

/* footer hover */
.sidebar__footer:hover .sidebar__footer-img--default {
  opacity: 0;
}

.sidebar__footer:hover .sidebar__footer-img--hover {
  opacity: 1;
}

.sidebar__footer-text {
  transition: color 300ms ease;
}

.sidebar__footer:hover .sidebar__footer-text {
  color: $white;
}


@media (max-width: 1024px) {
  .sidebar {
    display: flex;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1100;
    width: 100%;
    height: 72px;
    padding: 0;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    border-radius: 0;
    background-color: $grey-900;
    gap: 0;
    overflow: visible;
  }


  .sidebar__header,
  .sidebar__footer {
    display: none;
  }

  .sidebar--collapse .sidebar__header {
    display: none;
  }

  .sidebar__nav {
    flex: 1;
    width: 100%;
    height: 100%;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 0;
  }

  .sidebar__item {
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 16px;
    padding-top: 10px;
    gap: 0;
    border-radius: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-left: none;
    background-color: transparent;
    border-bottom: 4px solid transparent; 
    transition: background-color 300ms ease,
    border-bottom-color 300ms ease,
    color 300ms ease;
    &:hover,
    &--active {
    background-color: $white;
    border-bottom-color: $green;
    border-left: none;
  }
  }

  .sidebar--collapse .sidebar__item {
   padding: 10px 16px 0;
    justify-content: center;
    align-items: center;
  }

  .sidebar__item-text {
    display: none;
  }

  .sidebar__item-icon {
    width: 22px;
    height: 22px;
  }

  
  .sidebar__item-img--active {
    opacity: 0;
  }

  .sidebar__item--active .sidebar__item-img--default {
    opacity: 0;
  }

  .sidebar__item--active .sidebar__item-img--active {
    opacity: 1;
  }


  .sidebar.sidebar--collapse {
    width: 100%;
  }

  .sidebar.sidebar--collapse .sidebar__item-text {
    display: none;
  }

    .sidebar__item:hover {
    background-color: transparent;
    color: inherit;
    border-bottom-color: transparent; /* bo na mobile masz border-bottom */
    border-left: none;
  }

  /* WYŁĄCZ hover przełączanie ikonek */
  .sidebar__item:hover .sidebar__item-img--default {
    opacity: 1;
  }
  .sidebar__item:hover .sidebar__item-img--active {
    opacity: 0;
  }
}


@media (max-width: 767px) {
  .sidebar {
    height: 64px;
  }

  .sidebar__item {
    padding: 0 12px;
  }

  .sidebar__item-icon {
    width: 20px;
    height: 20px;
  }
}
