@import '../../styles/settings';

/* =====================
   SIDEBAR – CONTAINER
===================== */
.sidebar {
  width: 300px;
  transition: width 300ms ease;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px 0;
  background-color: $grey-900;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  color: $grey-300;
  &--collapse {
    width: 90px;
  }
}

/* =====================
   HEADER
===================== */
.sidebar__header {
  flex: 2;
  padding-left: 20px;
}
.sidebar--collapse .sidebar__header {
    display: flex;
    justify-content: center;
    padding-left: 0;
    &-img {
        width: 30px;
        height: 30px;
    }
}

/* =====================
   NAV
===================== */
.sidebar__nav {
  flex: 17;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* =====================
   NAV ITEM
===================== */
.sidebar__item {
  display: flex;
  position: relative;
  gap: 20px;
  align-items: center;
  cursor: pointer;
  width: 90%;
  padding: 10px 0 10px 20px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-left: 4px solid transparent;
  transition: background-color 300ms ease,
  color 300ms ease,
  border-left-color 300ms ease; 
  &:hover,
  &--active {
    background-color: $white;
    color: $grey-900;
    border-left: 4px solid $green;
  }
}

.sidebar__item-text,
.sidebar__footer-text {
  white-space: nowrap;
}

.sidebar--collapse .sidebar__item-text,
.sidebar--collapse .sidebar__footer-text {
  display: none;
}

.sidebar--collapse .sidebar__item

  {
     justify-content: center;
     padding-left: 0;
};

.sidebar--collapse .sidebar__footer {
    justify-content: center;
    padding-left: 0;
}

/* =====================
   ICON WRAPPER
===================== */
.sidebar__item-icon {
  position: relative;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}

/* =====================
   ICON IMAGES
===================== */
.sidebar__item-img {
  position: absolute;
  inset: 0;
  transition: opacity 250ms ease;
}

/* active hidden by default */
.sidebar__item-img--active {
  opacity: 0;
}

/* hover OR active → switch icons */
.sidebar__item:hover .sidebar__item-img--default,
.sidebar__item--active .sidebar__item-img--default {
  opacity: 0;
}

.sidebar__item:hover .sidebar__item-img--active,
.sidebar__item--active .sidebar__item-img--active {
  opacity: 1;
}

/* =====================
   FOOTER
===================== */
.sidebar__footer {
  flex: 1;
  display: flex;
  gap: 20px;
  align-items: center;
  cursor: pointer;
  padding-left: 20px;
}

.sidebar__footer-icon {
  position: relative;
  width: 20px;
  height: 20px;
}

.sidebar__footer-img {
  position: absolute;
  inset: 0;
  transition: opacity 300ms ease;
   transition: transform 300ms ease;
}

.sidebar--collapse .sidebar__footer-icon {
  transform: rotate(180deg);
}

.sidebar__footer-img--hover {
  opacity: 0;
}

/* footer hover */
.sidebar__footer:hover .sidebar__footer-img--default {
  opacity: 0;
}

.sidebar__footer:hover .sidebar__footer-img--hover {
  opacity: 1;
}

.sidebar__footer-text {
  transition: color 300ms ease;
}

.sidebar__footer:hover .sidebar__footer-text {
  color: $white;
}
